<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Buscar personaje por nombre</h3>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" class="form-control" placeholder="Ingresa el nombre del personaje" [(ngModel)]="name"
                (ngModelChange)="search()">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Personajes</h3>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Genero</th>
                            <th>Peso</th>
                            <th>Estatura</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let personaje of personajes">
                            <td>{{ personaje.name }}</td>
                            <td>{{ personaje.gender == "male" ? "Masculino" : "Femenino" }}</td>
                            <td>{{ personaje.mass == "unknown" ? "Desconocido" : personaje.mass + " kg"}}</td>
                            <td>{{ personaje.height == "unknown" ? "Desconocido" : personaje.height + " cm" }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>